body {
    display: flex;
    justify-content: center;
}

.fon{
    background-color: greenyellow;
    margin-top: 350px;
    text-align: center;
    border-radius: 5px;
}

.fon2{
    margin-left: 10px;
    margin-right: 10px;
    margin-top:  10px;
    margin-bottom: 10px;
}

.input{
    box-sizing: border-box;
    transition: transform ease 0.5s;
}

.input:hover{
    transform: scale(1.1)
}

button{
    background: violet;
    width: 50%;
    height: 30px;
    border-radius: 5px;
    transition: opacity ease 1s;
    opacity: 0.7;
}

button:hover{
    opacity: 1;
    background: darkviolet;
}